/* Images
----------------------------------------------------------------------------------------------------*/
@mixin background-gradient($color-top, $color-bottom) {
    background: $color-top;
    background: -webkit-linear-gradient($color-top 0%, $color-bottom 100%);
    background: -o-linear-gradient($color-top 0%, $color-bottom 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color-top), color-stop(100%, $color-bottom));
    background: linear-gradient($color-top 0%, $color-bottom 100%);
}

@mixin imageSVG($image) {
    background: url('images/svg/' + $image + '.png') !important;
    background-image: url('images/svg/' + $image + '.svg'), none !important;
    background-repeat: no-repeat !important;
}

@mixin image1x($image, $type) {
    width: width('public/images/2x/' + $image);
    height: height('public/images/2x/' + $image);
    background: url('images/2x/' + $image) 0 0 no-repeat;
}

@mixin image2x($image) {
    background: url('images/1x/' + $image) 0 0 no-repeat;
    background-size: size('public/images/1x/' + $image);
    width: width('public/images/1x/' + $image);
    height: height('public/images/1x/' + $image);
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:2dppx), (min-width: 1600px) {
        & {
            background-image: url('images/2x/' + $image);
        }
    }
}
@mixin image2xSize($image, $width, $height) {
    background: url('images/1x/' + $image) 0 0 no-repeat;
    background-size: $width $height;
    width: $width;
    height: $height;
    @media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:2dppx), (min-width: 1600px) {
        & {
            background-image: url('images/2x/' + $image);
        }
    }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
