//@import "node_modules/bootstrap/scss/bootstrap-grid.scss"; //4-bootstrap
//@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";// 4- bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss"; // 3- bootsrap

@import "sass/_variables.scss";
@import "sass/_mixins.scss";
@import "sass/_default.scss";
@import "sass/fonts.scss";


//использую медиа запросы бутстрап
//	xs- 0 - 575px
//	sm- 576px - 767px
//	md- 768px - 991px
//	lg- 992px - 1199px
//	xl- 1200px -
//	ширина айфона 5 - 320 landscape - 568
//	ширина айфона 6 - 375 landscape - 667
//	ширина айфона 6 plus- 414 - landscape - 736
//	ширина айпад - 768 - landscape - 1024
//@include media-breakpoint-up(xs) {} - действует только в пределах xs 
//@include media-breakpoint-down(sm) {} -  xs до sm


/* .suka{
	color:grey;
	@include media-breakpoint-down(sm) {
		color:red;
	}
} 
 */


