.modal.fade.modal-default.modal-fitness.jsModalFintess(tabindex='-1')
    .modal-dialog
        a.modal__close(data-dismiss='modal')
        .modal__inner
            .modal__body
                .modal__photo
                    ul.modal__photos.list-unstyled
                        li.active
                            a(href="#" style="background-image: url(https://camp.studio42.ru/img/ex/VVK_16944.jpg);")
                        li
                            a(href="#" style="background-image: url(https://camp.studio42.ru/img/ex/VVK_16949.jpg);")
                    .modal__pic(style="background-image: url(https://camp.studio42.ru/img/ex/VVK_16944.jpg);")
                .modal__content
                    ul.modal__social.list-unstyled
                        li
                            a.fb(href="#")
                        li
                            a.vk(href="#")
                        li
                            a.ok(href="#")
                    .modal__desc
                        <h1>ВЫПАДЫ С БОДИ-БАРОМ</h1>
                        <h3>РАБОТАЮТ:</h3> • Ягодичные мышцы,&nbsp;передняя <br>• Задняя поверхности бедра (бицепс и квадрицепс)
                        <h3>ИСХОДНОЕ ПОЛОЖЕНИЕ:</h3> Поставьте ноги на ширину бедер, бодибар (середину) держите на плече. <br> Спина прямая: лопатки вместе, в пояснице естественный прогиб, Смотрите вперед, немного приподняв подбородок.
                        <h3>ВЫПОЛНЕНИЕ УПРАЖНЕНИЯ:</h3> Одной ногой сделайте шаг назад,&nbsp;на вдохе согните колени&nbsp;(примерно на 90 градусов),&nbsp; На выдохе — вернитесь &nbsp;в исходное положение. &nbsp;<br> Контролируйте положение стоп, они находятся на параллельных прямых. Колено находится над носком, причем, носок немного впереди, колено сзади.&nbsp; &nbsp;<br> Постоянно напрягайте целевые мышцы.
            .modal__foot
                .modal-info
                    .modal-info__item.modal-info__item-1
                        .modal-info__number 3
                        .modal-info__title количество<br>подходов
                    .modal-info__item.modal-info__item-2
                        .modal-info__number 12—15
                        .modal-info__title количество<br>повторов
                    .modal-info__item.modal-info__item-3
                        .modal-info__number 1 мин
                        .modal-info__title отдых между<br>повторами
                            
                        
.modal.fade.modal-default.modal-food.jsModalFood(tabindex='-1')
    .modal-dialog
        a.modal__close(data-dismiss='modal')
        .modal__inner
            .modal__head(style="background-image: url(https://camp.studio42.ru/content/rec/3_o_big.jpg);")
                .modal__title ЗАВТРАК
                .modal__social
                    поделиться:
                    ul.list-inline
                        li
                            a.vk(href="#")
                        li
                            a.fb(href="#")
                        li
                            a.ok(href="#")
            .modal__body
                .panel-group(role="tablist")
                    .food-collapse
                        .panel-heading.food-collapse__head(role="tab")
                            a.food-collapse__link(role="button" data-toggle="collapse" href="#item-1")
                                .food-collapse__number 1
                                .food-collapse__heading СУП WELLNESS
                                .food-collapse__arrow
                        #item-1.food-collapse__item.panel-collapse.collapse.in(role="tabpanel")
                            .food-collapse__preview
                                .food-collapse__preview-pic(style="background-image: url(https://camp.studio42.ru/content/rec/aspargus_soup.jpg);")
                                .food-collapse__preview-desc
                                    div Суп
                                    p Суп «Нэчурал Баланс» обеспечит тебе вкусный и оптимальный заряд энергии, уменьшая чувство голода и желание перекусить, оставит ощущение сытости, концентрированного внимания и энергии.
                    .food-collapse
                        .panel-heading.food-collapse__head(role="tab")
                            a.food-collapse__link(role="button" data-toggle="collapse" href="#item-2")
                                .food-collapse__number 2
                                .food-collapse__heading ЛОСОСЬ ЗАПЕЧЕННЫЙ В АЗИАТСКОМ СТИЛЕ (150Г)
                                .food-collapse__arrow
                        #item-2.food-collapse__item.panel-collapse.collapse.in(role="tabpanel")
                            .food-collapse__content
                                .food-collapse__left
                                    .food-collapse__text
                                        span СПОСОБ ПРИГОТОВЛЕНИЯ:
                                        p Лосось положить в маринад на 10 – 15 минут, затем рыбку выложить в фольгу, сделать конверт и добавить немного воды, что бы фольга не пригорела. Запекать 10 – 15 минут при 180 градусах.
                                .food-collapse__right
                                    .food-collapse__text
                                        span ИНГРЕДИЕНТЫ
                                        p - лосось 150 г <br>- маринад ( соус терияки – 30 г, кунжутное масло – 2 г, соевый соус – 10г, лимоный сок – 10 г)
                    .food-collapse
                        .panel-heading.food-collapse__head(role="tab")
                            a.food-collapse__link(role="button" data-toggle="collapse" href="#item-3")
                                .food-collapse__number 3
                                .food-collapse__heading КИНОА (100 Г)
                                .food-collapse__arrow
                        #item-3.food-collapse__item.panel-collapse.collapse.in(role="tabpanel")
                            .food-collapse__content
                                .food-collapse__left
                                    .food-collapse__text
                                        span СПОСОБ ПРИГОТОВЛЕНИЯ:
                                        p Киноа промываем 3 - 4 раза, заливаем водой на 4 - 5 часов, доводим до кипения. Даем остыть, добавляем мелко порезанную зелень
                                .food-collapse__right
                                    .food-collapse__text
                                        span ИНГРЕДИЕНТЫ
                                        p
                    .food-collapse
                        .panel-heading.food-collapse__head(role="tab")
                            a.food-collapse__link(role="button" data-toggle="collapse" href="#item-4")
                                .food-collapse__number 4
                                .food-collapse__heading ЛОСОСЬ ЗАПЕЧЕННЫЙ В АЗИАТСКОМ СТИЛЕ (150Г)
                                .food-collapse__arrow
                        #item-4.food-collapse__item.panel-collapse.collapse.in(role="tabpanel")
                            .food-collapse__content
                                .food-collapse__left
                                    .food-collapse__text
                                        span СПОСОБ ПРИГОТОВЛЕНИЯ:
                                        p Нарезать овощи кубиками, заправить маслом, добавить семечки, соль, перец по вкусу.
                                .food-collapse__right
                                    .food-collapse__text
                                        span ИНГРЕДИЕНТЫ
                                        p - сезонные овощи 150 г (помидоры, огурцы, болгарский перец, стебель сельдерея, редис, зелень по вкусу) <br>- льняные семечки
                    .food-collapse
                        .panel-heading.food-collapse__head(role="tab")
                            a.food-collapse__link
                                .food-collapse__number 5
                                .food-collapse__heading ХЛЕБ (40 Г)
                                //- .food-collapse__arrow
