@@include('./includes/header.html')
<div class="header">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-4">
                <div class="header__text">
                    <img src="./images/2x/logo.png" alt="" width="50"> Domino's Pizza Web API Test
                </div>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <a href="http://help.dominos.com.tr/help" class="header__link align-self-center">Документация</a>
            </div>
        </div>
    </div>
</div>
<section class="send" ng-controller='cntrl'>
    <div class="container">
        <div id="accordion" class="send__card" role="tablist" aria-multiselectable="true">
            <div class="card " ng-repeat="pole in data">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
					    <a data-toggle="collapse" class="send__name" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					      + {{ pole.descr }}
					    </a>
		 			</h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block" ng-repeat=" meth in pole.method">
                        <button type="button" class="btn btn-outline-primary send__button" ng-click="sendResp(pole.action)">{{meth}}</button>
                        <span class="send__rest" ng-repeat=" act in pole.action">{{act}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@@include('./includes/footer.html')